on:
    push:
        branches:
            - main
        tags:
            - "v*"

jobs:
    test:
        if: github.event.ref == 'refs/heads/main' || github.event.ref == 'refs/tags/*'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              with:
                submodules: 'true'
            
            - name: Setup .NET
              uses: actions/setup-dotnet@v4
              with:
                dotnet-version: "9.0.200"
                    
            - name: Create .env file
              run: touch backend/.env

            - name: Test
              run: dotnet test backend/Base.sln
    deploy:
        if: github.event.ref == 'refs/tags/*'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
